/* Container layout */
.assessment-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: linear-gradient(to bottom right, 
  #3D52A0, 
  #7091E6, 
  #8697C4, 
  #ADBDBA, 
  #EDE8F5);
  color: white;
  font-family: Arial, sans-serif;
}

/* Header (Timer) */
.assessment-header {
  padding: 10px;
  background: #007bff;
  color: white;
  font-size: 18px;
  text-align: center;
}

/* Body layout */
.assessment-body {
  display: flex;
  padding: 20px;
  gap: 20px;
  background: linear-gradient(to bottom right, 
  #3D52A0, 
  #7091E6, 
  #8697C4, 
  #ADBDBA, 
  #EDE8F5);
  flex-grow: 1;
  height: calc(100vh - 60px); /* Adjust height to account for header and footer */
  overflow-y: auto;
}

/* Footer (Navigation & Submit Buttons) */
.assessment-footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: linear-gradient(to bottom right, 
  #3D52A0, 
  #7091E6, 
  );
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10000;
}

.assessment-footer button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.assessment-footer button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.assessment-footer button:not(:disabled) {
  background: #007bff;
  color: white;
}

.assessment-footer button:hover:not(:disabled) {
  background: #0056b3;
}

.warning-modal {
  background-color: orangered;
}